extends layout
	block scripts
		script(src='/assets/lib/jquery-1.7.1.min.js')
		script(src='/js/index.js')
		script
			require('index').start()

	block content
		.row
			h3 Hello, World !
		.row
			- if (isProduction)
				h4 This is a production server
			- else
				h4 This is a debug server